.projects
{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content
{
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

.project-content h2
{
    text-align: center;
    margin-bottom: 30px;
}

.project-card 
{
    padding: 20px;

    border: 1px solid var(--text-secondary) ;
    border-radius: 12px;

    background: var(--surface);

    margin-bottom: 30px;
}

.project-technology{

    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.project-technology span
{
    padding: 8px 14px;

    border: 1px solid var(--text-secondary);
    border-radius: 10px;

    background-color: var(--surface) ;

    margin-top:8px;
}

.project-links
{
    display: flex;
    gap: 10px;
    align-items: center;
}

.project-links a 
{
    padding: 10px 16px;
    border: 1px solid var(--text-secondary);
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-primary);
    margin-top: 15px;
}

.project-links a:hover
{
    background-color: var(--text-primary);
    color: var(--surface);
}